:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

.form-error-text {
  color: rgb(194, 25, 25);
  font-size: small;
  padding-left: 10px;
  margin: 0;
}

